
body{
    background-color: #fff;
    margin: auto;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}
@media (min-width: 1240px) {
    .container {
        max-width: 1290px !important;
        margin: auto !important;
        height: 100%;
    }
}
.container{
    width: 100%;
}
.nav_bar{
    padding: 1% 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    flex: 1;
}

.logo{
    color: #fff;
    margin-left: 15px;
}
.nav_links ul li{
    display: inline-block;
    text-align: center;
    align-items: center;
}
.nav_links ul li a{
    color: #fff;
    display: inline-block;
    padding: 12px;
    text-decoration: none;   
}
.log_in_btn{
    color: #fff;
}
.get_started_btn{
    color: #fff;
}
.welcome_area {
    display: flex;
    align-items: center;
}
.description_title > h1 {
    width: inherit;
    height: inherit;
}
.description_title{
    font-size: 50px;
    font-weight: 500;
}
